.background {
  position: relative;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../../../assets/images/forestMountains.png") center/cover no-repeat;
    filter: opacity(65%) saturate(150%);
  }
}

.app-layout {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: rgba(0, 0, 0, 0.1);
}
