.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon {
  color: rgba(0, 0, 0, 0.6);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  position: absolute;
  top: .26rem;
  left: 20.5%;
}

.search-input {
  border: none;
  background-color: var(--transparent-bg-light-lg);
  color: var(--text);
  box-shadow: var(--simple-box-shadow-inset);
  border-radius: var(--border-radius);
  width: 60%;
  height: 3rem;
  font-size: 1.25rem;
  padding: var(--padding-sm) var(--padding-md) var(--padding-sm) 3rem;
}

.search-button {
  margin: 1rem auto !important;
  width: 8rem;
  height: 2.75rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--transparent-bg-light-md);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  text-shadow: var(--text-shadow);
  &:hover {
    box-shadow: var(--simple-box-shadow);
  }
  &:active {
    box-shadow: var(--simple-box-shadow-inset);
  }
}
