.app-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.time {
  font-size: 800%;
  height: 8rem;
  position: relative;
  top: 3rem;
  color: white;
  text-shadow: var(--text-shadow);
}

.greeting {
  font-size: 300%;
  height: 3rem;
  color: white;
  text-shadow: var(--text-shadow);
  position: relative;
  top: -.5rem;
}

// TEMPORARY. TODO: Delete
.bookmarks, .quote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search {
  margin: auto;
  width: 85%;
}
