.bottom-nav {
  grid-template-columns: 1fr 1fr 1fr;
}

.settings {
  height: 2rem;
  width: 2rem;
}

.reddit {
  background-color: rgba(255, 255, 255, 0.6); // TODO: Make this a css variable
  .mat-icon {
    height: 4rem; // TODO: Make this a percentage
    width: 4rem; // TODO: Make this a percentage
  }
  .material-icons {
    font-size: 4rem; // TODO: Make this a percentage
  }
}
